  <div class="nav-wrapper">
    <div class="nav">
      <p>Gruppi di Firma</p>
    </div>
  </div>
  <div class="filter">
    <input type="text" placeholder="Filtra..."  [(ngModel)]="groupsFilter">
  </div>
  <div class="wrapper">
    <div >
      <div *ngFor="let group of GroupService.groupList | filterGroups:groupsFilter" 
          [ngClass]="{'warning':group.warning,'wrapper-group':true}"
          (click)="openGroup(group.id)">

        <div class="header-wrapper">
          <div>
            <div class="header">
              <h3 class="group-name" >{{group.groupName}}</h3>
              <app-modal 
                [id]="group.id" (click)="$event.stopPropagation()"
              ></app-modal>
            </div>
            <div *ngIf="group.hasOwnProperty('warning')"[ngClass]="{'warn':true}">{{group.warning}}</div>
          </div>
          <div class="users">
            <div *ngFor="let user of group?.users | slice:0:1">
                <div class="user">{{user.userInitials}}</div>
            </div>
            <div *ngIf="group.users.length > 1">
              <div class="user">+{{group.users.length - 1}}</div>
            </div>
          </div>
        </div>

        <div class="functions">
          <div *ngFor="let function of group.functions | slice:0:3" class="function">
            <div>
              <img src="https://www.svgrepo.com/show/91117/money-credit-card.svg" alt="" class="icon">
            </div>
            <div class="values-wrapper">
              <p class="service-title">{{function.title}}</p>
              <div class="values">
                <p>{{function.minValue | currency:'EUR':'symbol':'0.0-0'}}</p>
                <span>-</span>
                <p>{{function.maxValue | currency:'EUR':'symbol':'0.0-0'}}</p>
              </div>
            </div>
          </div>
          <div *ngIf="group.functions.length > 3" class="function">
            <div>
              <img src="https://www.svgrepo.com/show/91117/money-credit-card.svg" alt="" class="icon">
            </div>
            <p>+{{group.functions.length - 3}} servizi</p>
          </div>
        </div>

      </div>
    </div>
    <div class="btn">
      <button (click)="createNewGroup()" >Nuovo Gruppo <span>+</span> </button>
    </div>

  </div>

  

