<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="wrapper">
    <div >
      <div *ngFor="let group of groupList" class="wrapper-group" (mouseleave)="showModal = !showModal" (click)="openGroup(group.id)"(mouseenter)="show($event)" [ngClass]="{'warning':group.warning}">
      
<!-- 
        <app-modal 
          class="modal-wrapper"
          (modify)="modifGroup(group.id,group.groupName)"
          (delete)="deleteGroup(group.id)"

        ></app-modal> -->
  
        <div class="header">
          <div>
            <div class="group-name">{{group.groupName}}</div>
            <div *ngIf="group.hasOwnProperty('warning')">{{group.warning}}</div>
          </div>
          
          <div class="users">
            <div *ngFor="let user of group?.users">
 
                <div class="user">{{user.userInitials}}</div>
  
              
            </div>
        </div>

        </div>
  
        <div class="functions">
          <div *ngFor="let function of group.functions" class="function">
            <div>
              <img src="https://www.svgrepo.com/show/91117/money-credit-card.svg" alt="">
            </div>
       
            <div class="values-wrapper">
              <p>{{function.title}}</p>
              <div class="values">
                <div>{{(function.minValue | currency:'EUR':true:'1.0-0')}}</div>
                <span>-</span>
                <div>{{function.maxValue  | currency:'EUR':true:'1.0-0'}}</div>
              </div>
            </div>
           
          </div>
        </div>
  
       
  
        </div>
    </div>
   
      
   
  </div>
  <button (click)="createNewGroup()">Nuovo Gruppo</button>
</body>
</html>
