body {
  padding: 0;
  margin: 0;
  background-color: rgb(235, 240, 243);
}
p{
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.group-name {
  font-size: 20px;
  font-weight: 700;
}
.wrapper {
  padding-top: 150px;
}
.wrapper-group {
  padding: 30px;
  margin: 0 40px 40px 40px;
  border-radius: 10px;
  background-color: rgb(253, 249, 249);
}

.values {
  display: flex;
}

.functions {
  display: flex;
  align-items: center;
  width: 70%;
}
.function {
  padding-right: 50px;
}

.function img {
  margin-right: 5px;
}
.user {
  background-color: rgb(235, 230, 230);
  color: rgb(150, 146, 146);
}
div img {
  border: 1px solid black;
  border-radius: 100%;
  padding: 5px;
}

img {
  width: 35px;
  height: 3 5px;
}

.function {
  display: flex;
}

.modal-wrapper {

  width: 20%;
 position: absolute;

 box-shadow: 3px 3px 3px rgb(202, 201, 201);
}

.warning {
 border: 1px solid rgb(233, 159, 23);
}







