.wrapper {
  padding:0 50px;
  position: relative;
}
.wrapper-group {
  padding: 35px;
  margin-top: 40px;
  border-radius: 20px;
  background-color: rgb(253, 249, 249);
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
}
.group-name {
  font-size: 24px;
  font-weight: 700;
}
.users {
  margin:0;
}
.user {
  background-color: rgb(235, 230, 230);
  color: rgb(150, 146, 146);
}

.functions {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}
.function {
  width: 15%;
  display: flex;
  align-items: center;
}
.function img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
}
.values-wrapper {
  margin-left: 15px;
}
.values {
  display: flex;
}
.btn {
  position: relative;
  font-size: 20px;
  width: 10%;
  left: 90%;
  padding: 15px 10px;
  margin: 40px 0;
  border: none;
  border-radius: 10px;
  background-color: rgb(39, 82, 146);
  color: white;
}
.filter {
  padding-left: 50px;
}

.filter input {
  width: 20%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid rgb(177, 172, 172);
  outline: none;
}
.nav-wrapper {
  width: 100%;
  padding: 50px;
}
.nav {
  width: 100%;
  border-bottom: 1px solid rgb(177, 172, 172);
}
.values span {
  padding: 0 5px;
}
.warning {
  border: 3px solid rgb(233, 159, 23);
}
.warn {
  padding-left: 50px;
  background: url('../../../assets/images/warning.png') no-repeat left;
  background-size: 30px;
}









