html,body{
  min-height: 100vh;
 }

body {
  padding: 0;
  margin: 0;
  background-color: rgb(235, 240, 243);
  font-size: 24px;
}
p{
  margin: 0;
}

.header {
  display: flex;

}

.header-wrapper{
  display: flex;
  justify-content: space-between;

}

.group-name {
  font-size: 24px;
  font-weight: 700;
}
.wrapper {
  padding:0 50px;
  position: relative;
}
.wrapper-group {
  padding: 35px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: rgb(253, 249, 249);
}

.values {
  display: flex;
}

.values-wrapper {
  margin-left: 15px;
}

.functions {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 20px;
 
}
.function {
  width: 15%;

}

.function img {
  margin-right: 5px;
}
.user {
  background-color: rgb(235, 230, 230);
  color: rgb(150, 146, 146);
}
.users {
   margin:0;
}
div img {
  border: 1px solid black;
  border-radius: 100%;
  padding: 5px;
}

img {
  width: 35px;
  height: 3 5px;
}

.function {
  display: flex;
  align-items: center;
}

.modal-wrapper {

  width: 20%;
 position: absolute;

 box-shadow: 3px 3px 3px rgb(202, 201, 201);
}

.warning {
 border: 3px solid rgb(233, 159, 23);
}

.btn {
  position: relative;
  font-size: 20px;
  width: 10%;
  left: 90%;
  padding: 15px 10px;
  margin: 40px 0;
  border: none;
  border-radius: 10px;
  background-color: rgb(39, 82, 146);
  color: white;
}

.icon {
  margin-top: 5px;
}

.filter {
  padding-left: 50px;

}
.filter input {
  width: 20%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid rgb(177, 172, 172);
  outline: none;
}

.nav-wrapper {
  width: 100%;
  padding: 50px;
}
.nav {
  width: 100%;
  border-bottom: 1px solid rgb(177, 172, 172);

}

.warn {
  padding-left: 50px;
  background: url('../../../assets/images/warning.png') no-repeat left;
  background-size: 30px;

}

.values span {
  padding: 0 5px;
}









