
p {
  margin:0;
}

h3 {
  margin: 0;
}

h4 {
  color: rgb(139, 138, 138);
  margin: 20px 0;
}

ul {
  list-style: none;
}

input {
  min-height: 60px;
  outline: none;
  width: 90%;
  padding: 0 20px;
  background-color: rgb(231, 237, 243);
  border: none;
  border-bottom: 1px solid grey;
}

.wrapper {
  padding: 50px;
}

.wrapper-details {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 25px 70px;
}

.details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}
.details-form {
  width: 50%;
}

.wrapper-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.services,
.newUsers {
  width: 49%;
  padding: 50px;
  padding-right: 20px;
  background-color: white;
  border-radius: 20px;
}

.scroll {
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 15px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 20px;    
}

.actions {
  display: flex;
  justify-content: end;
}

.actions button {
  border: none;
  border-radius: 10px;
  color: rgb(39, 82, 146);
  background-color: rgb(227, 237, 241);
  font-size: 24px;
  font-weight: 500;
}

.actions button:hover {
  background-color:rgb(39, 82, 146);
  color: white;
}


.name-wrapper,
.min-wrapper,
.max-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 34px;
  margin-right: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 50%;
  right: 10%;
  left: 5%;
  top: 10%;
  background-color: white;
  transition: .4s;
}


.enabledToggle {
  background-color: #2196F3;

}
.disabledToggle {
  background-color: #ccc;
 }
 

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


table {
 table-layout: fixed;
 width: 100%;
 height: 100%;
 border-collapse: collapse;

 font-size: 20px;
}

tr div{
  margin: 10px;
}

td {
  padding: 0;
  margin: 0;
}

.service-title {
  display: flex;
  align-items: center;
}

.service-value {
  position: relative;
  width: 10%;
}

.service-currency {
  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 97, 97);
  position: absolute;
  right: 15%;
  top: 30%;
}

.title {
  margin-left: 20px;
  display: inline-block;
}


.warning {
  border-bottom: 3px solid orange;
}
.notWarning {
  background-color: white;
  border: none;
  padding-left: 40px;
}

.disabledInput {
 visibility: hidden;
}

.notcheckedEnabled {
  background-color: white;
  border: none;
}
.warningDisabled {
  padding: 0 40px;
  border: none; 
  color: orange;
  background: url('../../../assets/images/warning.png') no-repeat left;
  background-size: 30px;
}

.warning-img {
  width: 30px;
  height: 30px;
}

.required {
  border: 1px solid red;
  background-color: rgb(245, 234, 234);
}

.min-wrapper,
.max-wrapper {
  position: relative;
}

.pattern {
  color:red;
  margin: 0;
  padding: 0;
  font-size: 16px;
  position: absolute;
  top: 70%;
  z-index: 5;
}

.pattern.min,
.pattern.max {
  top: 100%;
}






