<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="wrapper">
    <div class="wrapper-details">
      <h3>Dettagli gruppo di firma</h3>
      <div class="wrapper-group">
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <div>Nome gruppo</div>
                <mat-form-field class="example-full-width">
                  <mat-label>{{group?.groupName}}</mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
              <td>
                <div>Soglia minima servizi</div>
                <mat-form-field class="example-full-width">
                  <mat-label>{{group?.minValue}}</mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
              <td>
                <div>Soglia massima servizi</div>
                <mat-form-field class="example-full-width">
                  <mat-label>{{group?.maxValue}}</mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <div class="users">
          <div *ngFor="let user of group?.users">
            <div class="user">{{user.userInitials}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="details">
      <div class="services-wrapper">

       
      
        <div class="services">
          <h3>Abilita servizi per gruppo di firma</h3>
          <h4>Seleziona i servizi e imposta la relativa soglia</h4>
    
          <div class="header">
            <div>Servizio</div>
            <div>Soglia minima</div>
            <div>Soglia massima</div>
          </div>

         <div *ngFor="let function of functionsList" class="service">

          <mat-slide-toggle></mat-slide-toggle>
            <div class="serviceName">{{function.function_name}}</div>

            <mat-form-field class="value">
              <mat-label>{{function.minValue}}</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field class="value">
              <mat-label>{{function.maxValue}}</mat-label>
              <input matInput>
            </mat-form-field>

         </div>

        </div>


        <div class="newUsers">
          <h3>Seleziona utenti da aggiungere al gruppo</h3>
          <h4>Sono disponibili solo gli utenti dispositivi</h4>
          <mat-form-field class="example-full-width">
            <mat-label>Filtra</mat-label>
            <input matInput>
          </mat-form-field>

          <ul>
              <li *ngFor="let newUser of newUsers">
                  <input type="checkbox" name="" id="">
                  {{newUser.fullName}}
              </li>
          </ul>
        </div>
      </div>
      <div class="actions">
        <div>
          <button (click)="goToMain()">Indietro</button>
        </div>
        <div *ngIf="newGroup;else modify">
          <button>Salva</button>
        </div>
        <ng-template #modify  >
          <button>Modifica</button>
        </ng-template>
      </div>

      
    </div>
  
  </div>

  
  




  
  
  
</body>
</html>
