
<body>

  <div class="wrapper">
    <div class="wrapper-details">
      <h3>Dettagli gruppo di firma</h3>
      <div class="wrapper-group">
          <form [formGroup]="groupForm" class="details-form">
            <div class="details">
              <div>
                <label for="groupName">Nome Gruppo</label>
                <input id="groupName" formControlName="groupName">
                <div *ngIf="groupForm.get('groupName')!.invalid">
            
                <div *ngIf="groupForm.get('groupName')!.errors?.['required'] && !submitted" class="invalid-wrapper">
                  required value
                </div>
            
              
                  </div>
                
              </div>
               
              <div>
                <label for="groupMinValue">Soglia minima servizi</label>
                <input id="groupMinValue" formControlName="groupMinValue">
                <div *ngIf="groupMinValue!.invalid">
                    <div *ngIf="groupMinValue!.errors?.['required'] && !submitted" class="invalid-wrapper">
                        required value
                    </div>
                    <div *ngIf="groupMinValue!.errors?.['pattern']">
                        enter number characters
                    </div>
              
                </div>
              </div>
         
              <div>
                <label for="groupMaxValue">Soglia massima servizi</label>
                <input id="groupMaxValue" formControlName="groupMaxValue">
                <div *ngIf="groupMaxValue!.invalid">
                  <div *ngIf="groupMaxValue!.errors?.['required'] && !submitted" class="invalid-wrapper">
                      required value
                  </div>
                  <div *ngIf="groupMaxValue!.errors?.['pattern']">
                      enter number characters
                  </div>
            
              </div>
              </div>
            </div>
          </form>

          <div class="users">
            <div *ngFor="let user of group?.users">
                <div class="user">{{user.userInitials}}</div>
            </div>
        </div>
      </div>
    </div>

    <div>
      <div class="services-wrapper" >

        
        <div class="services">
          <h3>Abilita servizi per gruppo di firma</h3>
          <h4>Seleziona i servizi e imposta la relativa soglia</h4>
          <form [formGroup]="groupForm"> 

          <table>
            <tr>
              <th>Servizio</th>
              <th>Soglia minima</th>
              <th>Soglia massima</th>
            </tr>
          
      
              <tbody >
                <ng-container formArrayName="functions">

           
                  <ng-container *ngFor="let child of groupForm.get('functions')!.value; let i = index">

                    <tr [formGroupName]="i">
                     
                        <td class="service-title-wrapper">
                          <div class="service-title">
                            <label class="switch">
                              <input type="checkbox" formControlName="checked" #ch>
                              <span class="slider" [ngClass]="{'enabledToggle': ch.checked, 'disabledToggle':ch.checked && showGroup}"
                              ></span>
                            </label>
                            <label class="title">{{child.title}}</label>
                          </div>
                
                        </td>

                        <td class="service-value">
                          <div [ngClass]="{'disabledInput':showGroup && !ch.checked}">
                            <input  id="inpt" formControlName="minValue" [ngModel]="child.minValue"
                              [ngClass]="{
                                'warning': ch.checked && (child.minValue != groupForm.controls['groupMinValue'].value),
                                'warningDisabled':showGroup && ch.checked && (child.minValue != groupForm.controls['groupMinValue'].value),
                                'notWarning': showGroup && ch.checked,
                                'notcheckedEnabled': !ch.checked,
                                'required':ch.checked && function.controls[i].get('minValue')?.errors?.['required'] && !submitted
                              
                              }">
                            
                            <span class="service-currency">EUR</span>
                          </div> 
                    
                        </td>
                        <td class="service-value">
                          <div [ngClass]="{'disabledInput':showGroup && !ch.checked}">
                            <input id="inpt" formControlName="maxValue" [ngModel]="child.maxValue"
                            [ngClass]="{
                              'warning': ch.checked && (child.maxValue != groupForm.controls['groupMaxValue'].value),
                              'warningDisabled':showGroup && ch.checked && (child.minValue != groupForm.controls['groupMaxValue'].value),
                              'notWarning': showGroup && ch.checked,
                              'notcheckedEnabled': !ch.checked,
                              'required':ch.checked && function.controls[i].get('maxValue')?.errors?.['required'] && !submitted
                            }">
                          <span class="service-currency">EUR</span>
                          </div>
                          
                        </td>       
                      </tr>
           
                    

                  </ng-container  >
                </ng-container>
              </tbody>
         
          </table>
        </form>
        
        </div>
      
              <div class="newUsers">
                <h3>Seleziona utenti da aggiungere al gruppo</h3>
                <h4>Sono disponibili solo gli utenti dispositivi</h4>

                <form [formGroup]="groupForm">
              
                    
                    <input formControlName="filterUsers" [(ngModel)]="usersFilter" placeholder="Filtra...">
          
                
                  <div formArrayName="users">
            
                      <div *ngFor="let user of groupForm.get('users')!.value | filterUsers:usersFilter; let i = index">
                        <div [formGroupName]='i' class="users">
                         
                          <p><mat-checkbox formControlName="checked"></mat-checkbox></p> 
                     
                          <div class="user">{{user?.userInitials}}</div>
                          <div class="user-name">{{user?.fullName}}</div>
                        </div>
                   
                        
                      </div>
                  </div>
                </form>

              </div>
      </div>

      
      <div class="actions-wrapper">
        <div class="actions">
          <div>
            <button (click)="goToMain()" ng-disabled="!newGroup" class="btn">Indietro</button>
          </div>
      
          <div *ngIf="showGroup;else salva">
            <button (click)="changeGroup()" class="btn">Modifica</button>
          </div>
  
          <ng-template #salva>
            <button class="btn" (click)="addGroup()">Salva</button>
          </ng-template>
        </div>
        
      </div>

      
    </div>
  
  </div>



  
  
</body>

