html,body{
 min-height: 100vh;
}

body {
 
  background-color: rgb(227, 237, 241);

}
p {
  margin:0;
}

input {
  outline: none;
  width: 90%;
  padding: 0 20px;
  /* margin: 5px; */

}

td {
  padding-right: 8px;
  padding: 5px;
}
tr div{
  margin: 10px;
}


.wrapper-group {

  display: flex;
  justify-content: space-between;
  align-items: center;

}


.user-name {
  font-size: 20px;
  margin-left: 10px;
}


.header {
  display: flex;
  justify-content: space-between;

}

h4 {
  color: rgb(139, 138, 138);
  margin: 20px 0;
}

.services-wrapper {

  display: flex;
  justify-content: space-between;
}


.services {

  width: 47%;
  padding: 50px 70px;

  background-color: white;
  border-radius: 20px;
}

.values {
  display: flex;
}

.service {
  /* width: 100%; */
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.serviceName {
  min-width: 40%;
  display: flex;
}

.serviceName label {
  padding-left: 10px;
}

.serviceValues {

  display: flex;

  max-width: 60%;


  
}
.serviceValues input {
  position: relative;
}

.serviceCurrency {
  position: absolute;
}

.newUsers {
  width: 47%;
  padding: 50px 70px;
  background-color: white;
  border-radius: 20px;

}
.newUsers input {
  width: 50%;
  font-size: 20px;
}

input {
  min-height: 60px;

  background-color: rgb(231, 237, 243);
  border: none;
  border-bottom: 1px solid grey;
}

ul {
  list-style: none;
}

.value {
  max-width: 25%;
}

h3 {
  margin: 0;
}

.wrapper-details {

  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 25px 70px;
}

.wrapper {
  padding: 0 50px;
  padding-top: 100px;
}

.actions-wrapper {
  width: 100%;
  
  position: relative;
  margin-top: 10px; 
}
.actions {
  display: flex;
  justify-content: end;


}

.btn {
  border: none;
  border-radius: 10px;

  color: rgb(39, 82, 146);
  background-color: rgb(227, 237, 241);
  font-size: 24px;
  font-weight: 500;

}
.actions button:hover {
  background-color:rgb(39, 82, 146);
  color: white;
}

fieldset {
  border: none;
}


.details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}

.details div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.details div input {

  min-width: 30%;
  margin-top: 10px;

}

.details-form {
  width: 50%;
}

.disabled {
  background-color: white;

}

.currency-wrapper {


}

.currency-code {
  position: absolute;
  right: 10%;
  top: 25%;
}







.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}



.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


.enabledToggle {
  background-color: #2196F3;

}
.disabledToggle {
  background-color: #ccc;
 }
 

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

table {

 table-layout: fixed;
 width: 100%;
 height: 100%;
 border-collapse: collapse;

 font-size: 20px;
}

td {

  padding: 0;
  margin: 0px;
 
}
td div {
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;  

}
.service-title-wrapper {
  width: auto;

}

.service-title {

  display: flex;
  align-items: center;


}
.service-value {
  position: relative;
}

.service-currency {
  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 97, 97);
  position: absolute;
  right: 15%;
  top: 30%;
  
}

.title {
  margin-left: 20px;
}





.warning {
  border-bottom: 3px solid orange;
}
.notWarning {
  background-color: white;
  border: none;
  padding-left: 40px;


}

.disabledInput {
 visibility: hidden;

}

.notcheckedEnabled {
  background-color: white;
  border: none;
}
.warningDisabled {
  padding: 0 40px;
  
  border: none; 
  color: orange;
  background: url('../../../assets/images/warning.png') no-repeat left;
  background-size: 30px;
}

.warning-img {
  width: 30px;
  height: 30px;
}


.not {
  display: none;
}

.invalid-wrapper {
  width: auto;
  border: 1px solid red;
  background-color: rgb(245, 195, 195);
}

.invalid {


}

.required {
  border: 1px solid red;
  background-color: rgb(247, 217, 217);
}

.pattern {
  color:red;
  margin: 0;
  padding: 0;
  font-size: 16px;
  position: absolute;
  top: 70%;
  z-index: 5;
}




