<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="wrapper">
    <div class="wrapper-details">
      <h3>Dettagli gruppo di firma</h3>
      <div class="wrapper-group">
          <form [formGroup]="groupForm" class="details">
            <div>
              <mat-form-field>
                <input matInput formControlName="groupName">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="groupMinValue">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="groupMaxValue">
              </mat-form-field>    
            </div>
            <div formArrayName="users" class="users">
              <div *ngFor="let child of groupForm.get('users')!.value" class="user">
                  <div>{{child.userInitials}}</div>
              </div>
          </div>
          </form>
     

      
      </div>
    </div>

    <div>
      <div class="services-wrapper">
        <div class="services">
          <h3>Abilita servizi per gruppo di firma</h3>
          <h4>Seleziona i servizi e imposta la relativa soglia</h4>
    
          <div class="header">
            <div>Servizio</div>
            <div>Soglia minima</div>
            <div>Soglia massima</div>
          </div>
          <form [formGroup]="groupForm"> 
              <div formArrayName="functions">
           
                  <div *ngFor="let child of groupForm.get('functions')!.value; let i = index">
           
                    <div [formGroupName]="i" class="service">
                      <div>
                        <mat-slide-toggle formControlName="minValue"></mat-slide-toggle>
                      </div>
                  
                      <!-- <mat-slide-toggle [checked]="isChecked(child.functionCode)"></mat-slide-toggle> -->
                      <label class="serviceName">{{child.title}}</label>
                      <div>
                        <input formControlName="minValue">
                        <input formControlName="maxValue">
                      </div>
               
                    </div>
                  </div>
                </div>
          </form>
        </div>
              <div class="newUsers">
                <h3>Seleziona utenti da aggiungere al gruppo</h3>
                <h4>Sono disponibili solo gli utenti dispositivi</h4>

                <form [formGroup]="groupForm">
                  <mat-form-field class="example-full-width">
                    <mat-label>Filtra</mat-label>
                    <input matInput formControlName="filterUsers">
                  </mat-form-field>
                
                  <div formArrayName="users">
            
                      <div *ngFor="let user of newUsers" class="users">
                          <p><mat-checkbox></mat-checkbox></p>
                        
                          {{user.fullName}}
                      </div>
                  </div>
                </form>

              </div>
      </div>

      
      <div class="actions">
        <div>
          <button (click)="goToMain()" ng-disabled="!newGroup">Indietro</button>
        </div>
    
        <div *ngIf="showGroup;else salva">
          <button (click)="changeGroup()">Modifica</button>
        </div>

        <ng-template #salva>
          <button>Salva</button>
        </ng-template>
      </div>

      
    </div>
  
  </div>
<pre>{{groupForm.value | json}}</pre>








 



  
  



<mat-slide-toggle></mat-slide-toggle>
  
  
  
</body>
</html>
